﻿@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PMGDisha</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    @*<link href="~/fingerprint/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/fingerprint/assets/css/bootstrap-responsive.min.css" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    <link href="~/fingerprint/assets/css/font-awesome.css" rel="stylesheet">
    <link href="~/fingerprint/assets/css/style.css" rel="stylesheet">
    <link href="~/fingerprint/assets/css/pages/dashboard.css" rel="stylesheet">


    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <div class="navbar-inner">
            <div class="">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="logo" href="#">PMG Disha </a>
                <div class="nav-collapse" style="margin-right:10%">
                    <ul class="nav pull-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i> @Context.Session.GetString("USERNAME") <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                @if (@Context.Session.GetString("UID") != null)
                                {
                                    <li><a id="btnLogout">Logout</a></li>
                                }
                                else
                                {
                                    <li><a id="btnLogIn">LogIn</a></li>
                                }

                            </ul>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /container -->
        </div>
        <!-- /navbar-inner -->
    </div>
    @Html.Partial("~/Views/Shared/Partial/_Header.cshtml")

    <div class="main">
        <div class="main-inner">
            <div class="container" style="width: 1200px;padding-right: 0px;padding-left: 0px;">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partial/_Footer.cshtml")


    <script src="~/fingerprint/assets/js/jquery-1.7.2.min.js"></script>
    @*<script src="~/fingerprint/assets/js/jquery-2.1.4.js"></script>*@

    <script src="~/fingerprint/assets/js/excanvas.min.js"></script>
    <script src="~/fingerprint/assets/js/chart.min.js" type="text/javascript"></script>
    <script src="~/fingerprint/assets/js/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="~/fingerprint/assets/js/full-calendar/fullcalendar.min.js"></script>
    <script src="~/fingerprint/assets/js/base.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
<script>
    $("#btnLogout").click(function () {
        window.location.href = "/";
    });
</script>