﻿@model PMGDisha.Services.PagerList<PMGDisha.Models.EntityModels.Businesspartner>


@if (Model.PageList.Count() > 0)
{


    <div class="container">
        <div class="row">



        </div>
    </div>


    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="Mohsin">
                    </div>
                    <div class="form-group">

                        <input class="form-control " type="text" placeholder="Irshad">
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="dvPartner">
        <div class="input-group" style="float:right">

            <div class="controls">
                <button class="btn btn-primary" id="btnAddPartner" type="button">Add New Partner</button>
            </div>
        </div>

        <div class="table-responsive" style="overflow-x:inherit">


            <table id="mytable" class="table table-bordred table-striped">

                <thead>
                    <tr>
                        <th>#Row</th>
                        <th>Name</th>
                        <th>MobileNo</th>
                        <th>City</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        foreach (var item in Model.PageList)
                        {
                            <tr scope="row">
                                <td>@i</td>
                                <td> @item.Name</td>
                                <td> @item.MobileNo</td>
                                <td> @item.City   </td>
                                <td> @item.State   </td>
                                <td>
                                    <a title="edit" class="Edit" data-attr="@item.Id">
                                        <i class="icon-pencil"></i>
                                    </a>
                                    &nbsp;  &nbsp; &nbsp;
                                    <a title="Delete" class="btnDelete" data-attr="@item.Id">
                                        <i class="icon-trash"></i>
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                            i++;
                        }
                    }

                    @*<tr>
                            <td><input type="checkbox" class="checkthis" /></td>
                            <td>Mohsin</td>
                            <td>Irshad</td>
                            <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                            <td>isometric.mohsin@gmail.com</td>
                            <td>+923335586757</td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                        </tr>*@
                </tbody>

            </table>

            <div class="clearfix"></div>
            @*@Html.PagerFrontend(Url.Action("Fitler"), Model.PageNumber, Model.TotalRows, Model.PageRows, Model.SortBy)*@
            <ul class="pagination pull-right">
                <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>

        </div>

    </div>
    <div class="pageloader"></div>

}
<script>
    $(".Edit").click(function () {

        var id = $(this).attr("data-attr")
        debugger
        $.ajax({
            type: "GET",
            url: "/Partner/ManagePartner?Id=" + id,
            success: function (data) {
                debugger
                $("#dvPartner").html(data)
            },
            error: function () {
                //  alert("Error occured!!")
            }
        })
    })

    $("#btnAddPartner").click(function () {

        var id = $(this).attr("data-attr")
        debugger
        $.ajax({
            type: "GET",
            url: "/Partner/ManagePartner?Id=0",
            success: function (data) {

                $("#dvPartner").html(data)
            },
            error: function () {
                //  alert("Error occured!!")
            }
        })
    })
    $(".btnDelete").click(function () {

        var id = $(this).attr("data-attr")

        $.ajax({
            type: "GET",
            url: "/Partner/DeletePartner?ID=" + id,
            success: function (data) {
                window.location.href = "/Partner/Index";
            },
            error: function () {
                window.location.href = "/Partner/Index";
            }
        })
    });




</script>

<style type="text/css">

    .pull-right {
        float: right !important;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            z-index: 2;
            color: #fff;
            cursor: default;
            background-color: #428bca;
            border-color: #428bca;
        }

        .pagination .active a {
            color: #999999;
            cursor: default;
        }

        .pagination a:hover, .pagination .active a {
            background-color: #f5f5f5;
        }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #428bca;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination a {
            float: left;
            padding: 0 14px;
            line-height: 34px;
            text-decoration: none;
            border: 1px solid #ddd;
            border-left-width: 0;
        }


        .pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
            color: #999999;
            background-color: transparent;
            cursor: default;
        }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }


    .pagination > li:last-child > a, .pagination > li:last-child > span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .pagination li:last-child a {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #428bca;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
</style>