﻿@model PMGDisha.Services.PagerList<PMGDisha.Models.EntityModels.Customers>
<div class="">
    <div class="col-12 row" style="float:right;width:30%;margin-right:8%">
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    &nbsp; <button class="btn btn-info" type="button">Search</button>
                    <a href="@Url.Action("managecustomer", "customer")"> <button class="btn btn-primary" style="margin-left:5%;"> Add FingerPrint</button></a>
                </span>
            </div>
        </div>
    </div>
    @if (Model.PageList.Count() > 0)
    {
        <div class="row">
            <div class="table-scrollable table-scrollable-borderless ">
                <table class="table table-hover table-light table-striped" target=".target-load">
                    <thead>
                        <tr class="uppercase">
                            <th>Row#</th>
                            <th>Name</th>
                            <th>AadharNo</th>
                            <th>RationNo</th>
                            <th>VillageName</th>
                            @*@Html.Sorting(Url.Action("FilterList"), "Name", "Name", Model.SortBy, new { item_page = Model.PageRows })
                                @Html.Sorting(Url.Action("FilterList"), "MobileNo", "MobileNo", Model.SortBy, new { item_page = Model.PageRows })
                                @Html.Sorting(Url.Action("FilterList"), "AadharNo", "AadharNo", Model.SortBy, new { item_page = Model.PageRows })
                                @Html.Sorting(Url.Action("FilterList"), "RationNo", "RationNo", Model.SortBy, new { item_page = Model.PageRows })
                                @Html.Sorting(Url.Action("FilterList"), "VillageName", "VillageName", Model.SortBy, new { item_page = Model.PageRows })*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 1;
                            foreach (var item in Model.PageList)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td> @item.Name</td>
                                    <td> @item.AadharNo   </td>
                                    <td> @item.RationNo   </td>
                                    <td> @item.VillageName</td>
                                    <td>
                                        <a title="edit" href='@Url.Action("managecustomer", "customer", new { code = item.Code })'>
                                            <i class="icon-pencil">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }

                        }
                    </tbody>
                </table>
                @PagerExtension.Pager(Url.Action("FilterList", "Customer"), Model.PageNumber, Model.TotalRows, Model.PageRows, Model.SortBy)
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <table class="table">
                <tr>
                    <td> No Data found !!</td>
                </tr>
            </table>
        </div>
    }
</div>

