﻿@model PMGDisha.Models.CustomModels.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="fingerprint/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="fingerprint/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="fingerprint/assets/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    <link href="fingerprint/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="fingerprint/assets/css/pages/signin.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="navbar navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="@Url.Action("Index", "Login")">
                    PMG DISHA
                </a>

            </div> <!-- /container -->

        </div> <!-- /navbar-inner -->

    </div> <!-- /navbar -->

    <div class="account-container">

        <div class="content clearfix">

            <form action="@Url.Action("Index", "Login")" method="post">

                <h1>Member Login</h1>

                <div class="login-fields">

                    <p>Please provide your details</p>
                    <span style="color:red;display:none" id="spnInvalid"> Invalid Username or Password</span>
                    <div class="field">
                        <label for="username">Username</label>
                        @*<input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" />*@
                        @Html.TextBoxFor(model => model.UserId, new { @class = "form-control login username-field", @placeholder = "Username", @autocomplete = "off", @name = "UserId" })
                        @Html.ValidationMessageFor(model => model.UserId)
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="password">Password:</label>
                        @*<input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field" />*@
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control login password-field", @placeholder = "Password", @autocomplete = "off", @name = "password", @type = "password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div> <!-- /password -->

                </div> <!-- /login-fields -->

                <div class="login-actions">

                    <span class="login-checkbox">
                        <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                        <label class="choice" for="Field">Keep me signed in</label>
                    </span>

                    <button class="button btn btn-success btn-large" type="submit">Sign In</button>

                </div> <!-- .actions -->



            </form>

        </div> <!-- /content -->

    </div> <!-- /account-container -->



    <script src="fingerprint/assets/js/jquery-1.7.2.min.js"></script>
    <script src="fingerprint/assets/js/bootstrap.js"></script>

    <script src="fingerprint/assets/js/signin.js"></script>

</body>

</html>

