﻿@model PMGDisha.Models.CustomModels.Partner

    <div class="pageloader"></div>
    <div class="span12">
        <div class="widget ">
            <div class="widget-header" style="height:50px;">
                <i class="icon-user"></i><h3>Add partner</h3>
            </div>
            <div class="widget-content">

                <form class="form-horizontal" id="frmPartner">
                    <fieldset>
                        <div style="display:none;">
                            @Html.TextBoxFor(model => model.PartnerId, new { @class = "form-control span6", @placeholder = "Name", @autocomplete = "off", @name = "Name" })
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="username">Name</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control span6", @placeholder = "Name", @autocomplete = "off", @name = "Name" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="username">Mobile NUmber</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control span6", @placeholder = "Name", @autocomplete = "off", @name = "Mobile No" })
                                @Html.ValidationMessageFor(model => model.MobileNo)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="username">Address1</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control span6", @placeholder = "Name", @autocomplete = "off", @name = "Address1" })
                                @Html.ValidationMessageFor(model => model.Address1)
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="username">Address2</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control span6", @placeholder = "Name", @autocomplete = "off", @name = "Address2" })
                                @Html.ValidationMessageFor(model => model.Address2)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="username">City</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control span6", @placeholder = "Name", @autocomplete = "off", @name = "City" })
                                @Html.ValidationMessageFor(model => model.City)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="username">State</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.State, new { @class = "form-control span6", @placeholder = "Name", @autocomplete = "off", @name = "State" })
                                @Html.ValidationMessageFor(model => model.State)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="username">Sequence No</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.SequenceNo, new { @class = "form-control span6", @placeholder = "Name", @autocomplete = "off", @name = "Sequence No" })
                                @Html.ValidationMessageFor(model => model.SequenceNo)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="username">Password</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control span6", @placeholder = "Password", @autocomplete = "off", @name = "Password" })
                                @Html.ValidationMessageFor(model => model.SequenceNo)
                            </div>
                        </div>

                        <div class="control-group">

                            <div class="controls" style="padding:10px;">
                                <button class="btn btn-primary" id="btnPartner" type="button">Submit</button>
                            </div>

                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

    <script>
        $("#btnPartner").click(function () {
            $(".pageloader").css("display", "block");
            $.ajax({
                type: "POST",
                url: "/Partner/ManagepartnerDetails",
                dataType: 'json',
                data: $("#frmPartner").serialize(),
                success: function (result, status, xhr) {
                    $(".pageloader").css("display", "none");

                },
                error: function (xhr, status, error) {
                    $(".pageloader").css("display", "none");
                    window.location.href = "/Partner/Index";
                }
            });
        })

    </script>
    <style type="text/css">
        .control-group {
            width: 50%;
        }
    </style>
