﻿@model PMGDisha.Models.EntityModels.Businesspartner

<div class="span12">
    <div class="widget ">
        <div class="widget-header">
            <i class="icon-user"></i><h3>Add Parner</h3>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="ManagepartnerDetails">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Id" class="control-label"></label>
                            <input asp-for="Id" class="form-control" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SequenceNo" class="control-label"></label>
                            <input asp-for="SequenceNo" class="form-control" />
                            <span asp-validation-for="SequenceNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address1" class="control-label"></label>
                            <input asp-for="Address1" class="form-control" />
                            <span asp-validation-for="Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address2" class="control-label"></label>
                            <input asp-for="Address2" class="form-control" />
                            <span asp-validation-for="Address2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AuthToken" class="control-label"></label>
                            <input asp-for="AuthToken" class="form-control" />
                            <span asp-validation-for="AuthToken" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FkuserId" class="control-label"></label>
                            <input asp-for="FkuserId" class="form-control" />
                            <span asp-validation-for="FkuserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MobileNo" class="control-label"></label>
                            <input asp-for="MobileNo" class="form-control" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

