﻿@*@model PMGDisha.Models.CustomModels.CustomerModel*@


@{
    ViewData["Title"] = "ManageCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pageloader"></div>
<div class="span12">
    <div class="widget">
        @*<div class="widget-header">
                <i class="icon-user"></i><h3>Add Customer</h3>
            </div>*@
        <div class="widget-content">
            <form class="form-horizontal" id="frmCustomer">
                <fieldset>
                    <div>

                        <input type="text" value="" id="txtStatus" class="form-control" style="display:none;" />
                        <input type="text" value="" id="txtImageInfo" class="form-control" style="display:none;" />
                        <input type="text" value='@Context.Request.Query["code"]' id="hdncustId" style="display:none" />
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-3 spandv">
                            <span>Name</span>
                        </div>
                        <div class="col-xs-3 spandv">
                            <span>Aadhar No</span>
                        </div>
                        <div class="col-xs-3 spandv">
                            <span>Ration No</span>
                        </div>
                        <div class="col-xs-3 spandv">
                            <span>Village</span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-3">
                            <input type="text" name="Name" tabindex="1" id="Name" class="form-control" value="">
                            <div style="display: none;">
                                <img id="imgFinger_1" width="200px" height="224px" Falt="Finger Image" />
                            </div>
                            <div id="div-imgFingerHor_1" class="img" width="200px" height="224px" align="center">
                                <img id="imgFingerHor_1" alt="Finger Image" width="200px" height="224px">
                            </div>
                            <div style="display: none;">
                                <img id="imgFinger_Hor_png_1" width="200px" height="224px" Falt="Finger Image" />
                            </div>
                            <div>
                                <input type="text" name="IMAGE_QUALITY_1" id="IMAGE_QUALITY_1" class="form-control imgquality" readonly value="">
                            </div>
                            <input type="text" id="IMAGE_DATA_1" value="" style="display:none" />
                            <div style="padding-top:10px">
                                <input type="submit" id="btnCapture" value="Capture" class="btn btn-primary btn-100" onclick="return Capture(1)">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" name="AadharNo" tabindex="2" id="AadharNo" class="form-control" value="">
                            <div style="display: none;">
                                <img id="imgFinger_2" width="200px" height="224px" Falt="Finger Image" />
                            </div>
                            <div id="div-imgFingerHor_2" class="img" width="200px" height="224px" align="center">
                                <img id="imgFingerHor_2" alt="Finger Image" width="200px" height="224px">
                            </div>
                            <div style="display: none;">
                                <img id="imgFinger_Hor_png_2" width="200px" height="224px" Falt="Finger Image" />
                            </div>
                            <div>
                                <textarea name="IMAGE_DATA_2" id="IMAGE_DATA_2" style="display: none;"></textarea>
                                <input type="text" name="IMAGE_QUALITY_2" id="IMAGE_QUALITY_2" class="form-control imgquality" readonly value="">
                            </div>
                            <div style="padding-top:10px">
                                <input type="submit" id="btnCapture" value="Capture" class="btn btn-primary btn-100" onclick="return Capture(2)">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div style="display: none;">
                                <img id="imgFinger_3" width="200px" height="224px" Falt="Finger Image" />
                            </div>
                            <input type="text" name="RationNo" tabindex="3" id="RationNo" class="form-control" value="">
                            <div id="div-imgFingerHor_3" class="img" width="200px" height="224px" align="center">
                                <img id="imgFingerHor_3" alt="Finger Image" width="200px" height="224px">
                            </div>
                            <div style="display: none;">
                                <img id="imgFinger_Hor_png_3" width="200px" height="224px" Falt="Finger Image" />
                            </div>
                            <div>
                                <input type="text" name="IMAGE_QUALITY_3" id="IMAGE_QUALITY_3" class="form-control imgquality" readonly value="">
                                <textarea name="IMAGE_DATA_3" id="IMAGE_DATA_3" style="display: none;"></textarea>
                            </div>
                            <div style="padding-top:10px">
                                <input type="submit" id="btnCapture" value="Capture" class="btn btn-primary btn-100" onclick="return Capture(3)">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div style="display: none;">
                                <img id="imgFinger_4" width="200px" height="224px" Falt="Finger Image" />
                            </div>
                            <input type="text" name="VillageName" tabindex="4" id="VillageName" class="form-control" value="">
                            <div id="div-imgFingerHor_4" class="img" width="200px" height="224px" align="center">
                                <img id="imgFingerHor_4" alt="Finger Image" width="200px" height="224px">
                            </div>
                            <div style="display: none;">
                                <img id="imgFinger_Hor_png_4" width="200px" height="224px" Falt="Finger Image" />
                            </div>
                            <div>
                                <input type="text" name="IMAGE_QUALITY_4" id="IMAGE_QUALITY_4" class="form-control imgquality" readonly value="">

                                <textarea name="IMAGE_DATA_4" id="IMAGE_DATA_4" style="display: none;"></textarea>
                            </div>
                            <div style="padding-top:10px">
                                <input type="submit" id="btnCapture" value="Capture" class="btn btn-primary btn-100" onclick="return Capture(4)">
                            </div>
                        </div>
                    </div>
                    <div style="margin-right:7%">
                        <input type="button" value="Back" class="btn btns btn-info" id="btnBack" style="float:right;margin-left:10px;" />
                        <input type="button" value="Submit" class="btn btns btn-success" style="float:right" id="btnCustomer" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<style>
    .imgquality {
        width: 200px !important;
        background-color: white !important;
    }

    .img {
        min-width: 125px;
        min-height: 155px;
        width: 200px;
        height: 200px;
        border: 1px solid #CCC;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
        background-color: #FFFFFF;
        margin: 10px 0px 10px 0px;
    }

    .col-xs-12 {
        white-space: nowrap !important;
        max-width: 100%;
        /*overflow: auto;*/
    }

    .col-xs-3 {
        float: none !important;
        display: inline-block !important;
        padding: 10px;
    }

    .btn {
        width: 200px !important;
        height: 40px !important;
        font-size: 18px;
    }

    .txt {
        width: 224px !important;
    }

    .form-control {
        border: 0;
        background-image: linear-gradient(#42a5f5, #42a5f5), linear-gradient(rgba(165, 181, 203, .5), rgba(165, 181, 203, .5));
        background-image: linear-gradient(#42a5f5, #42a5f5), linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64));
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: transparent;
        transition: background 0s ease-out;
        float: none;
        box-shadow: none;
        border-radius: 0;
        color: #555;
        display: block;
        font-size: 20px;
        height: 34px;
        width: 73% !important;
    }

    .spandv {
        height: 30px;
        font-size: 18px;
    }

    .btns {
        width: 200px !important;
    }
</style>
<script src="~/fingerprint/assets/js/mfs100-9.0.2.6.js"></script>
<script src="~/fingerprint/assets/js/html2canvas.min.js"></script>
<script src="~/fingerprint/assets/js/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //alert($("#hdncustId").val());
        if ($("#hdncustId").val() != "") {
            $.ajax({
                url: "/customer/getdetailsbycode/?code=" + $("#hdncustId").val(),
                type: "GET",
                data: {},
                success: function (data) {
                    $("#Name").val(data.name);
                    $("#AadharNo").val(data.aadharNo);
                    $("#VillageName").val(data.villageName);
                    $("#RationNo").val(data.rationNo);
                    $("#imgFingerHor_1").attr('src', "data:image/bmp;base64," + data.img1Base64);
                    $('#IMAGE_DATA_1').val(data.img1Base64);
                    $("#imgFingerHor_2").attr('src', "data:image/bmp;base64," + data.img2Base64);
                    $('#IMAGE_DATA_2').val(data.img2Base64);
                    $("#imgFingerHor_3").attr('src', "data:image/bmp;base64," + data.img3Base64);
                    $('#IMAGE_DATA_3').val(data.img3Base64);
                    $("#imgFingerHor_4").attr('src', "data:image/bmp;base64," + data.img4Base64);
                    $('#IMAGE_DATA_4').val(data.img4Base64);
                    $("#IMAGE_QUALITY_1").val(data.imagE_QUALITY_1);
                    $("#IMAGE_QUALITY_2").val(data.imagE_QUALITY_2);
                    $("#IMAGE_QUALITY_3").val(data.imagE_QUALITY_3);
                    $("#IMAGE_QUALITY_4").val(data.imagE_QUALITY_4);
                },
                error: function (xhRequest, ErrorText, thrownError) {
                    //alert("Failed to process promotion correctly, please try again");
                    console.log('xhRequest: ' + xhRequest + "\n");
                    console.log('ErrorText: ' + ErrorText + "\n");
                    console.log('thrownError: ' + thrownError + "\n");
                }
            });
        }
    });
    $("#btnBack").click(function () {
        location.href = "/customer/index";
    });
    $("#btnCustomer").click(function () {
        $(".pageloader").css("display", "block");
        $.ajax({ //actually approve or reject the promotion
            url: "/customer/ManageCustomerDetails",
            type: "POST",
            data: {
                CustCode: $("#hdncustId").val(),
                Name: $("#Name").val(),
                AadharNo: $("#AadharNo").val(),
                VillageName: $("#VillageName").val(),
                RationNo: $("#RationNo").val(),

                img1Base64: $('#IMAGE_DATA_1').val(),
                IMAGE_QUALITY_1: $("#IMAGE_QUALITY_1").val(),

                img2Base64: $('#IMAGE_DATA_2').val(),
                IMAGE_QUALITY_2: $("#IMAGE_QUALITY_2").val(),

                img3Base64: $('#IMAGE_DATA_3').val(),
                IMAGE_QUALITY_3: $("#IMAGE_QUALITY_3").val(),

                img4Base64: $('#IMAGE_DATA_4').val(),
                IMAGE_QUALITY_4: $("#IMAGE_QUALITY_4").val(),
            },
            success: function (data) {
                $(".pageloader").css("display", "none");
                location.href = "/customer/index";

            },
            error: function (xhRequest, ErrorText, thrownError) {
                $(".pageloader").css("display", "none");
                //alert("Failed to process promotion correctly, please try again");
                console.log('xhRequest: ' + xhRequest + "\n");
                console.log('ErrorText: ' + ErrorText + "\n");
                console.log('thrownError: ' + thrownError + "\n");
            }
        });
    })
</script>