﻿
<div class="footer" style="bottom:0;position:fixed;width:100%;">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; @DateTime.Now.Year - PMG Disha. </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>