﻿@using Microsoft.AspNetCore.Http;

<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li class="active"><a href="index.html"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                @if (@Context.Session.GetString("USERTYPE") == "ADMIN")
                {
                    <li class="active"><a href="#" id="btnpartner"><i class="icon-user"></i><span>Partner</span> </a> </li>
                }
                else
                {
                    <li class="active"><a href="#" id="btnCust"><i class="icon-user"></i><span>Customer</span> </a> </li>
                }
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<script>
    $("#btnCust").click(function () {
        window.location.href = "/Customer/Index";
    });

    $("#btnpartner").click(function () {
        window.location.href = "/Partner/Index";
    });
</script>